.App {
  text-align: center;
}

.buttonFilter {
  background: white;
  padding: 10px;
  border: 1px solid black;
  margin-right: 20px;
  margin-top: 40px;
}

.buttonFilter.active {
  background: grey;
  color: white;
}
